<!-- views/books/show.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include the head partial, dynamically setting the title -->
    <%- include("../partials/head", { title: `Book: ${book.title}` }) %>
  </head>
  <body>
    <%- include("../partials/navbar") %>  <!-- Navbar added -->

    <h1><%= book.title %></h1>

    <!-- Conditional rendering based on whether the book has been read -->
    <% if (book.isRead) { %>
      <p>This book has been read!</p>
    <% } else { %>
      <p>This book is waiting to be read!</p>
    <% } %>

    <!-- DELETE BUTTON -->
    <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= book.title %></button>
    </form>

    <!-- EDIT BUTTON -->
    <a href="/books/<%= book._id %>/edit">
      <button>Edit <%= book.title %></button>
    </a>
  </body>
  <%- include("../partials/footer") %>
</html>
